openapi: 3.2.0
info:
  title: Flueid Pro Order Options API
  version: '1.0'
servers:
- url: https://api.pro.flueid.com
  description: Flueid Pro production API
tags:
- name: OrderOptions
paths:
  /api/OrderOptions/GetAllLookupCodesForCompany:
    get:
      tags:
      - OrderOptions
      summary: Returns a list of all Lookup codes for a company by company id, division id, branch id
      parameters:
      - name: companyId
        in: query
        description: ''
        required: true
        schema:
          type: integer
          format: int32
      - name: api-version
        in: query
        description: The requested API version
        schema:
          type: string
          default: '1.0'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Titlefy.Data.Entities.Orders.OrderLookupCodes'
            application/json:
              schema:
                $ref: '#/components/schemas/Titlefy.Data.Entities.Orders.OrderLookupCodes'
            text/json:
              schema:
                $ref: '#/components/schemas/Titlefy.Data.Entities.Orders.OrderLookupCodes'
  /api/OrderOptions/SaveEntityLookupCodes:
    post:
      tags:
      - OrderOptions
      summary: Saves a list of Order Roles and Lookup Codes
      parameters:
      - name: api-version
        in: query
        description: The requested API version
        schema:
          type: string
          default: '1.0'
      requestBody:
        description: ''
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Titlefy.Data.Entities.Orders.OrderLookupCodes'
          application/json:
            schema:
              $ref: '#/components/schemas/Titlefy.Data.Entities.Orders.OrderLookupCodes'
          text/json:
            schema:
              $ref: '#/components/schemas/Titlefy.Data.Entities.Orders.OrderLookupCodes'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Titlefy.Data.Entities.Orders.OrderLookupCodes'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Titlefy.Data.Entities.Orders.OrderLookupCodes'
            application/json:
              schema:
                $ref: '#/components/schemas/Titlefy.Data.Entities.Orders.OrderLookupCodes'
            text/json:
              schema:
                $ref: '#/components/schemas/Titlefy.Data.Entities.Orders.OrderLookupCodes'
components:
  schemas:
    MongoDB.Bson.ObjectId:
      type: object
      properties:
        timestamp:
          type: integer
          format: int32
          readOnly: true
        machine:
          type: integer
          format: int32
          readOnly: true
          deprecated: true
        pid:
          type: integer
          format: int32
          readOnly: true
          deprecated: true
        increment:
          type: integer
          format: int32
          readOnly: true
          deprecated: true
        creationTime:
          type: string
          format: date-time
          readOnly: true
      additionalProperties: false
    Titlefy.Data.Entities.Orders.OrderLookupCodes:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/MongoDB.Bson.ObjectId'
        createdDate:
          type: string
          format: date-time
        createdByUser:
          type:
          - string
          - 'null'
        lastUpdatedDate:
          type: string
          format: date-time
        lastUpdatedByUser:
          type:
          - string
          - 'null'
        entityId:
          type: integer
          format: int32
        entityType:
          $ref: '#/components/schemas/Flueid.Pro.Constants.EntityConstants.EntityType'
        lookupCodes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Titlefy.Data.Entities.Orders.OrderLookupCodeRole'
      additionalProperties: false
    Titlefy.Core.Constants.Orders.OrderRole:
      enum:
      - 0
      - 1
      - 2
      - 4
      - 5
      - 6
      - 7
      - 11
      - 12
      - 14
      - 15
      - 16
      - 17
      - 18
      - 19
      - 20
      - 21
      - 22
      - 23
      - 29
      - 50
      - 51
      - 52
      - 53
      - 54
      - 55
      - 99
      type: integer
      format: int32
    Flueid.Pro.Constants.EntityConstants.EntityType:
      enum:
      - 10
      - 20
      - 30
      - 40
      - 50
      - 60
      - 9999
      type: integer
      format: int32
    Titlefy.Data.Entities.Orders.OrderLookupCodeRole:
      type: object
      properties:
        orderRole:
          $ref: '#/components/schemas/Titlefy.Core.Constants.Orders.OrderRole'
        orderRoleDescription:
          type:
          - string
          - 'null'
          readOnly: true
        orderRoleAbbreviation:
          type:
          - string
          - 'null'
          readOnly: true
        lookupCode:
          type:
          - string
          - 'null'
      additionalProperties: false
