openapi: 3.2.0
info:
  title: Flueid Pro Orders API
  version: '1.0'
servers:
- url: https://api.pro.flueid.com
  description: Flueid Pro production API
tags:
- name: Orders
paths:
  /api/Orders/SearchOrders:
    post:
      tags:
      - Orders
      summary: Gets a list of orders that are viewable by the user.
      parameters:
      - name: api-version
        in: query
        description: The requested API version
        schema:
          type: string
          default: '1.0'
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.OrderSearchRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.OrderSearchRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.OrderSearchRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.OrderSearchRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.SearchOrdersResult'
            application/json:
              schema:
                $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.SearchOrdersResult'
            text/json:
              schema:
                $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.SearchOrdersResult'
  /api/Orders/OrderDetail:
    get:
      tags:
      - Orders
      summary: Gets the full detail of the order.
      parameters:
      - name: orderId
        in: query
        schema:
          type: integer
          format: int32
      - name: api-version
        in: query
        description: The requested API version
        schema:
          type: string
          default: '1.0'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.OrderDetailResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.OrderDetailResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.OrderDetailResponse'
  /api/Orders/RunFullUpdate:
    post:
      tags:
      - Orders
      summary: Performs a full update on the order.
      parameters:
      - name: api-version
        in: query
        description: The requested API version
        schema:
          type: string
          default: '1.0'
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Titlefy.Models.Orders.OrderFullUpdateRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Titlefy.Models.Orders.OrderFullUpdateRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Titlefy.Models.Orders.OrderFullUpdateRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Titlefy.Models.Orders.OrderFullUpdateRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Titlefy.Models.Orders.OrderServiceSubmissionResult'
            application/json:
              schema:
                $ref: '#/components/schemas/Titlefy.Models.Orders.OrderServiceSubmissionResult'
            text/json:
              schema:
                $ref: '#/components/schemas/Titlefy.Models.Orders.OrderServiceSubmissionResult'
  /api/Orders/RunDateDownUpdate:
    post:
      tags:
      - Orders
      summary: Performs a datedown update on the order.
      parameters:
      - name: api-version
        in: query
        description: The requested API version
        schema:
          type: string
          default: '1.0'
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Titlefy.Models.Orders.OrderFullUpdateRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Titlefy.Models.Orders.OrderFullUpdateRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Titlefy.Models.Orders.OrderFullUpdateRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Titlefy.Models.Orders.OrderFullUpdateRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Titlefy.Models.Orders.OrderServiceSubmissionResult'
            application/json:
              schema:
                $ref: '#/components/schemas/Titlefy.Models.Orders.OrderServiceSubmissionResult'
            text/json:
              schema:
                $ref: '#/components/schemas/Titlefy.Models.Orders.OrderServiceSubmissionResult'
  /api/Orders/GetDocument:
    post:
      tags:
      - Orders
      summary: Gets the order document.
      parameters:
      - name: api-version
        in: query
        description: The requested API version
        schema:
          type: string
          default: '1.0'
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Titlefy.Models.Orders.GetDocumentRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Titlefy.Models.Orders.GetDocumentRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Titlefy.Models.Orders.GetDocumentRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Titlefy.Models.Orders.GetDocumentRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Titlefy.Models.Orders.GetDocumentResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Titlefy.Models.Orders.GetDocumentResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Titlefy.Models.Orders.GetDocumentResponse'
  /api/Orders/UpdateOrderStatus:
    post:
      tags:
      - Orders
      summary: Updates an existing orders status.
      parameters:
      - name: api-version
        in: query
        description: The requested API version
        schema:
          type: string
          default: '1.0'
      requestBody:
        description: ''
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Titlefy.Models.Orders.UpdateOrderStatusRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Titlefy.Models.Orders.UpdateOrderStatusRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Titlefy.Models.Orders.UpdateOrderStatusRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Titlefy.Models.Orders.UpdateOrderStatusRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Titlefy.Data.Entities.Orders.Order'
            application/json:
              schema:
                $ref: '#/components/schemas/Titlefy.Data.Entities.Orders.Order'
            text/json:
              schema:
                $ref: '#/components/schemas/Titlefy.Data.Entities.Orders.Order'
  /api/Orders/GetDecisionOrderData:
    get:
      tags:
      - Orders
      summary: Gets the decision order(needed in case of modifications)
      parameters:
      - name: orderId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: serviceType
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/Flueid.Pro.Constants.OrderConstants.OrderServiceType'
      - name: api-version
        in: query
        description: The requested API version
        schema:
          type: string
          default: '1.0'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Titlefy.ExternalServices.Insurful.ProviderObjects.DecisionOrderDataResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Titlefy.ExternalServices.Insurful.ProviderObjects.DecisionOrderDataResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Titlefy.ExternalServices.Insurful.ProviderObjects.DecisionOrderDataResponse'
  /api/Orders/ModifyDecisionOrderData:
    post:
      tags:
      - Orders
      summary: Gets the decision order(needed in case of modifications)
      parameters:
      - name: api-version
        in: query
        description: The requested API version
        schema:
          type: string
          default: '1.0'
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Titlefy.ExternalServices.Insurful.ProviderObjects.ModifyDecisionOrderRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Titlefy.ExternalServices.Insurful.ProviderObjects.ModifyDecisionOrderRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Titlefy.ExternalServices.Insurful.ProviderObjects.ModifyDecisionOrderRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Titlefy.ExternalServices.Insurful.ProviderObjects.ModifyDecisionOrderRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Titlefy.Models.Orders.OrderServiceSubmissionResult'
            application/json:
              schema:
                $ref: '#/components/schemas/Titlefy.Models.Orders.OrderServiceSubmissionResult'
            text/json:
              schema:
                $ref: '#/components/schemas/Titlefy.Models.Orders.OrderServiceSubmissionResult'
  /api/Orders/DecisionReplaceBuyers:
    post:
      tags:
      - Orders
      summary: Gets the decision order(needed in case of modifications)
      parameters:
      - name: api-version
        in: query
        description: The requested API version
        schema:
          type: string
          default: '1.0'
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Titlefy.ExternalServices.Insurful.ProviderObjects.ModifyDecisionOrderRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Titlefy.ExternalServices.Insurful.ProviderObjects.ModifyDecisionOrderRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Titlefy.ExternalServices.Insurful.ProviderObjects.ModifyDecisionOrderRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Titlefy.ExternalServices.Insurful.ProviderObjects.ModifyDecisionOrderRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Titlefy.Models.Orders.OrderServiceSubmissionResult'
            application/json:
              schema:
                $ref: '#/components/schemas/Titlefy.Models.Orders.OrderServiceSubmissionResult'
            text/json:
              schema:
                $ref: '#/components/schemas/Titlefy.Models.Orders.OrderServiceSubmissionResult'
  /api/Orders/DownloadTrailingDocument:
    post:
      tags:
      - Orders
      summary: Download Order Trailing Document
      parameters:
      - name: api-version
        in: query
        description: The requested API version
        schema:
          type: string
          default: '1.0'
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Titlefy.ExternalServices.Insurful.ProviderObjects.DownloadTrailingDocumentRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Titlefy.ExternalServices.Insurful.ProviderObjects.DownloadTrailingDocumentRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Titlefy.ExternalServices.Insurful.ProviderObjects.DownloadTrailingDocumentRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Titlefy.ExternalServices.Insurful.ProviderObjects.DownloadTrailingDocumentRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
                format: binary
            application/json:
              schema:
                type: string
                format: binary
            text/json:
              schema:
                type: string
                format: binary
components:
  schemas:
    Titlefy.ExternalServices.Insurful.ProviderObjects.DecisionOrderUpdateNewConsumer:
      type: object
      properties:
        firstName:
          type:
          - string
          - 'null'
        middleName:
          type:
          - string
          - 'null'
        lastName:
          type:
          - string
          - 'null'
        suffix:
          type:
          - string
          - 'null'
        currentAddress:
          $ref: '#/components/schemas/Titlefy.ExternalServices.Insurful.ProviderObjects.Address'
        mailingAddress:
          $ref: '#/components/schemas/Titlefy.ExternalServices.Insurful.ProviderObjects.Address'
        ssn:
          type:
          - string
          - 'null'
        consumerTypeId:
          type: integer
          format: int32
        consumerRoleId:
          type: integer
          format: int32
        clientConsumerReference:
          type:
          - string
          - 'null'
        classification:
          $ref: '#/components/schemas/Titlefy.Core.Constants.DecisionConsumerClassification'
      additionalProperties: false
    Flueid.PropertyDb.Models.PropertyData.PropertyListingInfo:
      type: object
      properties:
        isListed:
          type: boolean
        isPending:
          type: boolean
        isSold:
          type: boolean
        listingId:
          type:
          - string
          - 'null'
        mlsOrgId:
          type:
          - string
          - 'null'
        photoReferenceId:
          type:
          - integer
          - 'null'
          format: int64
        listingDate:
          type:
          - string
          - 'null'
          format: date-time
        pendingDate:
          type:
          - string
          - 'null'
          format: date-time
        soldDate:
          type:
          - string
          - 'null'
          format: date-time
        soldPrice:
          type: integer
          format: int32
        listingPrice:
          type: integer
          format: int32
        listingPriceRangeLow:
          type: integer
          format: int32
        listingPriceRangeHigh:
          type: integer
          format: int32
        agentInfo:
          $ref: '#/components/schemas/Flueid.PropertyDb.Models.PropertyData.PropertyListingAgent'
        publicListingComments:
          type:
          - string
          - 'null'
      additionalProperties: false
    Titlefy.Core.Constants.Orders.OrderProductType:
      enum:
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 9
      - 10
      - 11
      - 12
      - 13
      type: integer
      format: int32
    Titlefy.Data.Entities.DTOs.Insurful.DecisionCreditAccountSubType:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      type: integer
      format: int32
    Flueid.Pro.Constants.OrderConstants.OrderType:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      type: integer
      format: int32
    Titlefy.ExternalServices.Insurful.ProviderObjects.Address:
      type: object
      properties:
        address1:
          type:
          - string
          - 'null'
        address2:
          type:
          - string
          - 'null'
        city:
          type:
          - string
          - 'null'
        state:
          type:
          - string
          - 'null'
        zipCode:
          type:
          - string
          - 'null'
        fullAddress:
          type:
          - string
          - 'null'
        streetAddress:
          type:
          - string
          - 'null'
        sourceCodes:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
    Titlefy.ExternalServices.Insurful.ProviderObjects.DecisionOrderUpdateExistingConsumer:
      type: object
      properties:
        consumerId:
          type: integer
          format: int32
        nameVariations:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Titlefy.ExternalServices.Insurful.ProviderObjects.ConsumerName'
        ssn:
          type:
          - string
          - 'null'
      additionalProperties: false
    Flueid.PropertyDb.Models.PropertyData.PropertyLien:
      type: object
      properties:
        transactionId:
          type: integer
          format: int64
        recordingDate:
          type:
          - string
          - 'null'
          format: date-time
        datedDate:
          type:
          - string
          - 'null'
          format: date-time
        documentNumber:
          type:
          - string
          - 'null'
        docProviderRef:
          type:
          - string
          - 'null'
        book:
          type:
          - string
          - 'null'
        page:
          type:
          - string
          - 'null'
        loanAmount:
          type: integer
          format: int32
        lender:
          type:
          - string
          - 'null'
        lenderDbaName:
          type:
          - string
          - 'null'
        lenderAddress:
          $ref: '#/components/schemas/Flueid.PropertyDb.Models.PropertyData.Address'
        privateLender:
          type: boolean
        lenderType:
          type:
          - string
          - 'null'
        term:
          type: integer
          format: int32
        termType:
          type:
          - string
          - 'null'
        loanDueDate:
          type:
          - string
          - 'null'
          format: date-time
        rate:
          type: number
          format: double
        rateMax:
          type: number
          format: double
        rateMinOnChange:
          type: number
          format: double
        rateMaxOnChange:
          type: number
          format: double
        estimatedRate:
          type: number
          format: double
        loanType:
          type:
          - string
          - 'null'
        loanPurpose:
          type:
          - string
          - 'null'
        financingType:
          type:
          - string
          - 'null'
        lienPosition:
          type: integer
          format: int32
        estimatedBalance:
          type:
          - integer
          - 'null'
          format: int32
        adjustableRateRider:
          type: boolean
        adjustableRateIndex:
          type:
          - string
          - 'null'
        changeIndex:
          type: number
          format: double
        rateChangeFrequency:
          type:
          - string
          - 'null'
        interestOnlyPeriod:
          type:
          - string
          - 'null'
        fixedStepConversionRateRider:
          type:
          - string
          - 'null'
        rateConversionDate:
          type:
          - string
          - 'null'
          format: date-time
        prepaymentRider:
          type: boolean
        prepaymentPenaltyTermInMonths:
          type: integer
          format: int32
        borrowers:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Flueid.PropertyDb.Models.PropertyData.PropertyTransactionConsumer'
        estimatedMonthlyPI:
          type: number
          format: double
        estimatedMonthlyPrincipal:
          type: number
          format: double
        estimatedMonthlyInterest:
          type: number
          format: double
        purchaseMortgage:
          type: boolean
        borrowersAsString:
          type:
          - string
          - 'null'
          readOnly: true
      additionalProperties: false
    Titlefy.Data.Entities.DTOs.Insurful.DecisionPaymentHistoryStatus:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 9
      type: integer
      format: int32
    Titlefy.Data.Entities.DTOs.Insurful.DecisionSearchResultType:
      enum:
      - 0
      - 1
      - 2
      - 5
      type: integer
      format: int32
    Titlefy.Data.Entities.DTOs.GradesheetResultItem:
      type: object
      properties:
        conditionId:
          type: integer
          format: int32
        description:
          type:
          - string
          - 'null'
        hit:
          type: boolean
        hitRefCodes:
          type:
          - array
          - 'null'
          items:
            type: string
        result:
          $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionOverallResult'
        resultDescription:
          type:
          - string
          - 'null'
      additionalProperties: false
    Titlefy.Data.Entities.Orders.OrderContact:
      type: object
      properties:
        role:
          $ref: '#/components/schemas/Titlefy.Core.Constants.Orders.OrderRole'
        contactType:
          $ref: '#/components/schemas/Titlefy.Core.Constants.Orders.OrderContactType'
        isOpener:
          type: boolean
        isBusinessSource:
          type: boolean
        licenseNumber:
          type:
          - string
          - 'null'
        roleDescription:
          type:
          - string
          - 'null'
        userId:
          type:
          - integer
          - 'null'
          format: int32
        username:
          type:
          - string
          - 'null'
        firstName:
          type:
          - string
          - 'null'
        middleName:
          type:
          - string
          - 'null'
        lastName:
          type:
          - string
          - 'null'
        suffix:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        publicRecordContactType:
          $ref: '#/components/schemas/Titlefy.Core.Constants.Orders.OrderContactType'
        publicRecordFirstName:
          type:
          - string
          - 'null'
        publicRecordMiddleName:
          type:
          - string
          - 'null'
        publicRecordLastName:
          type:
          - string
          - 'null'
        publicRecordSuffix:
          type:
          - string
          - 'null'
        companyId:
          type: integer
          format: int32
        companyName:
          type:
          - string
          - 'null'
        address:
          $ref: '#/components/schemas/Titlefy.Data.Entities.Address'
        forwardingAddress:
          $ref: '#/components/schemas/Titlefy.Data.Entities.Address'
        taxId:
          type:
          - string
          - 'null'
        phone:
          type:
          - string
          - 'null'
        email:
          type:
          - string
          - 'null'
        communicationPreference:
          $ref: '#/components/schemas/Titlefy.Core.Constants.Orders.ContactCommunicationPref'
        photoUrl:
          type:
          - string
          - 'null'
        fullName:
          type:
          - string
          - 'null'
          readOnly: true
        jointGroup:
          type: integer
          format: int32
        referenceNumber:
          type:
          - string
          - 'null'
      additionalProperties: false
    Titlefy.Data.Entities.DTOs.Insurful.DecisionHistoryTransaction:
      type: object
      properties:
        id:
          type: integer
          format: int32
        propertyId:
          type: integer
          format: int32
        transactionId:
          type: integer
          format: int64
        recordingDate:
          type:
          - string
          - 'null'
          format: date-time
        datedDate:
          type:
          - string
          - 'null'
          format: date-time
        datedOrRecordingDate:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        fullValueDeed:
          type: boolean
        buyersBorrowers:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionConsumerAttributeContainer'
        sellers:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionConsumerAttributeContainer'
        documentNumber:
          type:
          - string
          - 'null'
        book:
          type:
          - string
          - 'null'
        page:
          type:
          - string
          - 'null'
        documentType:
          $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionDocumentType'
        subDocType:
          type:
          - string
          - 'null'
        docTypeDescription:
          type:
          - string
          - 'null'
        salePrice:
          type: integer
          format: int32
        loanAmount:
          type: integer
          format: int32
        loanType:
          type:
          - string
          - 'null'
        loanRateType:
          type:
          - string
          - 'null'
        loanRate:
          type: number
          format: double
        loanTerm:
          type: integer
          format: int32
        loanTermType:
          type:
          - string
          - 'null'
        estimatedBalance:
          type:
          - integer
          - 'null'
          format: int32
        lender:
          type:
          - string
          - 'null'
        titleCompany:
          type:
          - string
          - 'null'
        privateLender:
          type: boolean
        priceCodeIndicatesSale:
          type: boolean
        docTypeIndicatesNonSale:
          type: boolean
        correctiveDeed:
          type: boolean
        originalDocumentNumber:
          type:
          - string
          - 'null'
        originalBook:
          type:
          - string
          - 'null'
        originalPage:
          type:
          - string
          - 'null'
        originalRecordingDate:
          type:
          - string
          - 'null'
          format: date-time
        addToSearchPackage:
          type: boolean
        twentyFourMonthChainFlag:
          type: boolean
        thirtySixMonthChainFlag:
          type: boolean
      additionalProperties: false
    Titlefy.ExternalServices.Insurful.ProviderObjects.DecisionOrderDataResponse:
      type: object
      properties:
        consumers:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionConsumerAttributeContainer'
        propertyData:
          $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionPropertyDetailAttributes'
      additionalProperties: false
    Flueid.PropertyDb.Models.PropertyData.PropertyListingAgent:
      type: object
      properties:
        agentName:
          type:
          - string
          - 'null'
        companyName:
          type:
          - string
          - 'null'
        licenseNumber:
          type:
          - string
          - 'null'
        address:
          type:
          - string
          - 'null'
        phone:
          type:
          - string
          - 'null'
        email:
          type:
          - string
          - 'null'
      additionalProperties: false
    Titlefy.Data.Entities.DTOs.Insurful.DecisionUnderwriterDecision:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      type: integer
      format: int32
    Titlefy.Data.Entities.DTOs.OrderLite:
      type: object
      properties:
        orderId:
          type: integer
          format: int32
        insurfulOrderId:
          type: integer
          format: int32
        partnerId:
          type: integer
          format: int32
        orderType:
          $ref: '#/components/schemas/Flueid.Pro.Constants.OrderConstants.OrderType'
        orderTypeDescription:
          type:
          - string
          - 'null'
          readOnly: true
        status:
          $ref: '#/components/schemas/Titlefy.Core.Constants.Orders.OrderStatus'
        statusDescription:
          type:
          - string
          - 'null'
          readOnly: true
        services:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.OrderServiceLite'
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
        propertyAddress:
          $ref: '#/components/schemas/Titlefy.Data.Entities.Address'
        ownerName:
          type:
          - string
          - 'null'
        estimatedCloseDate:
          type:
          - string
          - 'null'
          format: date-time
        createdDate:
          type: string
          format: date-time
        closedDate:
          type:
          - string
          - 'null'
          format: date-time
        canceledDate:
          type:
          - string
          - 'null'
          format: date-time
        openedBy:
          $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.OrderContactLite'
        businessSource:
          $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.OrderContactLite'
        borrowers:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.OrderContactLite'
        buyers:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.OrderContactLite'
        sellers:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.OrderContactLite'
        propertyPhotoUrl:
          type:
          - string
          - 'null'
        decisionOrderDetails:
          $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionProcessingResult'
      additionalProperties: false
    Flueid.PropertyDb.Models.PropertyData.PropertyPreForeclosureContact:
      type: object
      properties:
        careOfName:
          type:
          - string
          - 'null'
        firstName:
          type:
          - string
          - 'null'
        lastName:
          type:
          - string
          - 'null'
        attentionTo:
          type:
          - string
          - 'null'
        phone:
          type:
          - string
          - 'null'
        address:
          $ref: '#/components/schemas/Flueid.PropertyDb.Models.PropertyData.Address'
        trusteeSaleNumber:
          type:
          - string
          - 'null'
      additionalProperties: false
    Flueid.Pro.Constants.PartnerOrderSettingsConstants.OrderProvider:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      type: integer
      format: int32
    Titlefy.Data.Entities.DTOs.Insurful.DecisionPropertyDetailAttributes:
      type: object
      properties:
        propertyId:
          type: integer
          format: int32
        serviceAvailable:
          type: boolean
        dataFound:
          type: boolean
        propertyType:
          $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionPropertyType'
        propertyTypeDescription:
          type:
          - string
          - 'null'
          readOnly: true
        apn:
          type:
          - string
          - 'null'
        fipsCode:
          type:
          - string
          - 'null'
        countyName:
          type:
          - string
          - 'null'
        municipality:
          type:
          - string
          - 'null'
        address:
          $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionAddressExpanded'
        mailingAddress:
          $ref: '#/components/schemas/Titlefy.Data.Entities.Address'
        ownerOccupied:
          type: boolean
        owners:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Titlefy.Data.Entities.Orders.Consumer'
        ownedSince:
          type:
          - string
          - 'null'
          format: date-time
        lastMarketSale:
          $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionHistoryTransaction'
        mlsHistory:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionMlsRecord'
        valuation:
          $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionPropertyValuation'
        legalDesc:
          type:
          - string
          - 'null'
        vesting:
          type:
          - string
          - 'null'
        lotSizeInAcres:
          type:
          - number
          - 'null'
          format: double
      additionalProperties: false
    Titlefy.Data.Entities.Orders.TemporaryDocument:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/MongoDB.Bson.ObjectId'
        createdDate:
          type: string
          format: date-time
        createdByUser:
          type:
          - string
          - 'null'
        lastUpdatedDate:
          type: string
          format: date-time
        lastUpdatedByUser:
          type:
          - string
          - 'null'
        tempDocId:
          type: integer
          format: int32
        documentType:
          type: integer
          format: int32
        documentTypeDescription:
          type:
          - string
          - 'null'
          readOnly: true
        filename:
          type:
          - string
          - 'null'
        fileExtension:
          type:
          - string
          - 'null'
        documentId:
          type:
          - string
          - 'null'
        documentUrl:
          type:
          - string
          - 'null'
        transmissionError:
          type:
          - string
          - 'null'
        docBytes:
          type:
          - string
          - 'null'
          format: byte
      additionalProperties: false
    Titlefy.Core.Constants.Orders.LoanType:
      enum:
      - 0
      - 1
      - 2
      - 3
      type: integer
      format: int32
    Titlefy.Data.Entities.DTOs.Insurful.DecisionOrderDecision:
      type: object
      properties:
        result:
          $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionOverallResult'
        resultDescription:
          type:
          - string
          - 'null'
          readOnly: true
        underwriterDecision:
          $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionUnderwriterDecision'
        underwriterDecisionDescription:
          type:
          - string
          - 'null'
          readOnly: true
        consumerSearchResult:
          $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionConsumerSearchResult'
        consumerSearchResultDescription:
          type:
          - string
          - 'null'
          readOnly: true
        consumerSearchResults:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionConsumerSearchResultItem'
        initialPropertySearchResult:
          $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionPropertySearchResult'
        propertySearchResultOverrideDescription:
          type:
          - string
          - 'null'
        propertySearchResult:
          $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionPropertySearchResult'
        propertySearchResultDescription:
          type:
          - string
          - 'null'
          readOnly: true
        trackedPropertySearchItems:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionTrackedInfoItem'
        trackedConsumerSearchItems:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionTrackedConsumerInfoItem'
        documents:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionOrderDocument'
        decisionDate:
          type:
          - string
          - 'null'
          format: date-time
      additionalProperties: false
    Flueid.PropertyDb.Models.PropertyData.PropertyOpenLien:
      type: object
      properties:
        transactionId:
          type: integer
          format: int64
        recordingDate:
          type:
          - string
          - 'null'
          format: date-time
        datedDate:
          type:
          - string
          - 'null'
          format: date-time
        documentNumber:
          type:
          - string
          - 'null'
        docProviderRef:
          type:
          - string
          - 'null'
        book:
          type:
          - string
          - 'null'
        page:
          type:
          - string
          - 'null'
        loanAmount:
          type: integer
          format: int32
        lender:
          type:
          - string
          - 'null'
        lenderDbaName:
          type:
          - string
          - 'null'
        lenderAddress:
          $ref: '#/components/schemas/Flueid.PropertyDb.Models.PropertyData.Address'
        privateLender:
          type: boolean
        lenderType:
          type:
          - string
          - 'null'
        term:
          type: integer
          format: int32
        termType:
          type:
          - string
          - 'null'
        loanDueDate:
          type:
          - string
          - 'null'
          format: date-time
        rate:
          type: number
          format: double
        rateMax:
          type: number
          format: double
        rateMinOnChange:
          type: number
          format: double
        rateMaxOnChange:
          type: number
          format: double
        estimatedRate:
          type: number
          format: double
        loanType:
          type:
          - string
          - 'null'
        loanPurpose:
          type:
          - string
          - 'null'
        financingType:
          type:
          - string
          - 'null'
        lienPosition:
          type: integer
          format: int32
        estimatedBalance:
          type:
          - integer
          - 'null'
          format: int32
        adjustableRateRider:
          type: boolean
        adjustableRateIndex:
          type:
          - string
          - 'null'
        changeIndex:
          type: number
          format: double
        rateChangeFrequency:
          type:
          - string
          - 'null'
        interestOnlyPeriod:
          type:
          - string
          - 'null'
        fixedStepConversionRateRider:
          type:
          - string
          - 'null'
        rateConversionDate:
          type:
          - string
          - 'null'
          format: date-time
        prepaymentRider:
          type: boolean
        prepaymentPenaltyTermInMonths:
          type: integer
          format: int32
        borrowers:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Flueid.PropertyDb.Models.PropertyData.PropertyTransactionConsumer'
        estimatedMonthlyPI:
          type: number
          format: double
        estimatedMonthlyPrincipal:
          type: number
          format: double
        estimatedMonthlyInterest:
          type: number
          format: double
        purchaseMortgage:
          type: boolean
        borrowersAsString:
          type:
          - string
          - 'null'
          readOnly: true
        titleCompany:
          type:
          - string
          - 'null'
        cashPurchase:
          type: boolean
        constructionLoan:
          type: boolean
        standAloneSecond:
          type: boolean
        equityCreditLine:
          type: boolean
        assignedLenderName:
          type:
          - string
          - 'null'
        assignmentDate:
          type:
          - string
          - 'null'
          format: date-time
        numberOfAssignments:
          type: integer
          format: int32
        preForeclosureStatus:
          type:
          - string
          - 'null'
        preFclRecordingDate:
          type:
          - string
          - 'null'
          format: date-time
        preFclFilingDate:
          type:
          - string
          - 'null'
          format: date-time
        preFclCaseTrusteeSaleNum:
          type:
          - string
          - 'null'
        preFclAuctionDate:
          type:
          - string
          - 'null'
          format: date-time
      additionalProperties: false
    Flueid.PropertyDb.Models.PropertyData.PropertyOwnership:
      type: object
      properties:
        mailCareOfName:
          type:
          - string
          - 'null'
        mailingAddress:
          $ref: '#/components/schemas/Flueid.PropertyDb.Models.PropertyData.Address'
        ownerOccupied:
          type: boolean
        primaryOwner:
          $ref: '#/components/schemas/Flueid.PropertyDb.Models.PropertyData.ConsumerName'
        primaryOwnerType:
          $ref: '#/components/schemas/Flueid.PropertyDb.Models.Constants.ConsumerType'
        primaryOwnerTypeDescription:
          type:
          - string
          - 'null'
        primaryOwnerIdCode:
          type:
          - string
          - 'null'
        secondaryOwner:
          $ref: '#/components/schemas/Flueid.PropertyDb.Models.PropertyData.ConsumerName'
        secondaryOwnerType:
          $ref: '#/components/schemas/Flueid.PropertyDb.Models.Constants.ConsumerType'
        secondaryOwnerTypeDescription:
          type:
          - string
          - 'null'
        ownedSince:
          type:
          - string
          - 'null'
          format: date-time
        vesting:
          type:
          - string
          - 'null'
        primaryResidence:
          type: boolean
        numberOfOpenLiens:
          type: integer
          format: int32
        totalAmountOfOpenLiens:
          type: integer
          format: int32
        ownerSourceCode:
          type:
          - string
          - 'null'
        numberOfFinanceTransactions:
          type: integer
          format: int32
      additionalProperties: false
    Titlefy.Core.Constants.Orders.OrderingParty:
      enum:
      - 1
      - 2
      - 3
      - 4
      type: integer
      format: int32
    Titlefy.Data.Entities.DTOs.Insurful.DecisionLastMarketSale:
      type: object
      properties:
        saleDate:
          type:
          - string
          - 'null'
          format: date-time
        salePrice:
          type: integer
          format: int32
        buyers:
          type:
          - string
          - 'null'
        sellers:
          type:
          - string
          - 'null'
        titleCompany:
          type:
          - string
          - 'null'
        recordingDate:
          type:
          - string
          - 'null'
          format: date-time
        documentNumber:
          type:
          - string
          - 'null'
      additionalProperties: false
    Flueid.PropertyDb.Models.PropertyData.AddressExpanded:
      type: object
      properties:
        streetNumber:
          type:
          - string
          - 'null'
        address1:
          type:
          - string
          - 'null'
        address2:
          type:
          - string
          - 'null'
        fullStreetAddress:
          type:
          - string
          - 'null'
        city:
          type:
          - string
          - 'null'
        state:
          type:
          - string
          - 'null'
        zipCode5:
          type:
          - string
          - 'null'
        zipCode4:
          type:
          - string
          - 'null'
        fullAddressOneLine:
          type:
          - string
          - 'null'
          readOnly: true
        zipCodeFull:
          type:
          - string
          - 'null'
          readOnly: true
        streetDirectionLeft:
          type:
          - string
          - 'null'
        streetName:
          type:
          - string
          - 'null'
        streetSuffix:
          type:
          - string
          - 'null'
        streetDirectionRight:
          type:
          - string
          - 'null'
      additionalProperties: false
    Flueid.PropertyDb.Models.PropertyData.PropertyAssociation:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
        associationType:
          type:
          - string
          - 'null'
        contactName:
          type:
          - string
          - 'null'
        streetAddress:
          type:
          - string
          - 'null'
        cityStateZip:
          type:
          - string
          - 'null'
        phone:
          type:
          - string
          - 'null'
        fees:
          type: integer
          format: int32
        feeRangeMin:
          type: integer
          format: int32
        feeRangeMax:
          type: integer
          format: int32
        feeFrequency:
          type:
          - string
          - 'null'
      additionalProperties: false
    MongoDB.Bson.ObjectId:
      type: object
      properties:
        timestamp:
          type: integer
          format: int32
          readOnly: true
        machine:
          type: integer
          format: int32
          readOnly: true
          deprecated: true
        pid:
          type: integer
          format: int32
          readOnly: true
          deprecated: true
        increment:
          type: integer
          format: int32
          readOnly: true
          deprecated: true
        creationTime:
          type: string
          format: date-time
          readOnly: true
      additionalProperties: false
    Titlefy.Data.Entities.DTOs.Insurful.DecisionSubmittedOrderAttributes:
      type: object
      properties:
        transactionType:
          $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionTransactionType'
        transactionTypeDescription:
          type:
          - string
          - 'null'
          readOnly: true
        productType:
          $ref: '#/components/schemas/Titlefy.Core.Constants.Orders.OrderProductType'
        productTypeDescription:
          type:
          - string
          - 'null'
          readOnly: true
        attorneyComplianceSearch:
          type: boolean
        twentyFourMonthChainRequired:
          type: boolean
        thirtySixMonthChainRequired:
          type: boolean
        propertyAddress:
          $ref: '#/components/schemas/Titlefy.Data.Entities.Address'
        propertyFips:
          type:
          - string
          - 'null'
        propertyType:
          $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionPropertyType'
        propertyTypeDescription:
          type:
          - string
          - 'null'
          readOnly: true
        numberOfApns:
          type: integer
          format: int32
        cashOutAmount:
          type: number
          format: double
        cashOutAmountEstimated:
          type: number
          format: double
        loanAmount:
          type: number
          format: double
        originalLoanAmount:
          type:
          - number
          - 'null'
          format: double
        originalLoanCurrentBalance:
          type:
          - number
          - 'null'
          format: double
        originalLoanDate:
          type:
          - string
          - 'null'
          format: date-time
        salePrice:
          type: number
          format: double
        consumerAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionSubmittedConsumerAttributes'
      additionalProperties: false
    Titlefy.Data.Entities.DTOs.Insurful.DecisionPropertyType:
      enum:
      - 0
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 9
      - 10
      - 11
      - 50
      - 70
      - 100
      - 200
      type: integer
      format: int32
    Titlefy.Data.Entities.DTOs.Insurful.DecisionCreditTrade:
      type: object
      properties:
        id:
          type: integer
          format: int32
        accountType:
          $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionCreditAccountType'
        accountTypeDescription:
          type:
          - string
          - 'null'
        accountSubType:
          $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionCreditAccountSubType'
        accountSubTypeDescription:
          type:
          - string
          - 'null'
        providerAccountSubTypeDescription:
          type:
          - string
          - 'null'
        accountStatus:
          $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionAccountStatus'
        accountStatusDescription:
          type:
          - string
          - 'null'
        providerAccountStatusNote:
          type:
          - string
          - 'null'
        pastDue30DaysCount:
          type:
          - integer
          - 'null'
          format: int32
        pastDue60DaysCount:
          type:
          - integer
          - 'null'
          format: int32
        pastDue90DaysCount:
          type:
          - integer
          - 'null'
          format: int32
        firstDelinquencyDate:
          type:
          - string
          - 'null'
          format: date-time
        majorDelinquencyDate:
          type:
          - string
          - 'null'
          format: date-time
        creditorName:
          type:
          - string
          - 'null'
        creditorId:
          type:
          - string
          - 'null'
        borrowerName:
          type:
          - string
          - 'null'
        accountNumber:
          type:
          - string
          - 'null'
        highCredit:
          type: number
          format: double
        creditLimit:
          type: number
          format: double
        limitOrHighCredit:
          type: number
          format: double
          readOnly: true
        currentBalance:
          type: number
          format: double
        paymentHistory:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionCreditPaymentHistoryItem'
        bankruptcyIndicator:
          type: boolean
        derogatoryIndicator:
          type: boolean
        deceasedIndicator:
          type: boolean
        authorizedUserIndicator:
          type: boolean
        mortgageIdNumber:
          type:
          - string
          - 'null'
        openDate:
          type:
          - string
          - 'null'
          format: date-time
        openDateArbitraryDay:
          type: boolean
        closedDate:
          type:
          - string
          - 'null'
          format: date-time
        closedDateArbitraryDay:
          type: boolean
        replacesId:
          type:
          - integer
          - 'null'
          format: int32
        replacedById:
          type:
          - integer
          - 'null'
          format: int32
        matchesPIQ:
          type: boolean
        matchesOtherProp:
          type: boolean
        otherPropertyAddress:
          type:
          - string
          - 'null'
        otherPropertyId:
          type:
          - integer
          - 'null'
          format: int32
      additionalProperties: false
    Titlefy.Data.Entities.DTOs.Insurful.DecisionSecretaryOfStateUccSearch:
      type: object
      properties:
        searchSite:
          type:
          - string
          - 'null'
        coverageExists:
          type: boolean
        subscriptionSite:
          type: boolean
        docImageSearch:
          type:
          - string
          - 'null'
          format: date-time
      additionalProperties: false
    Titlefy.ExternalServices.Insurful.ProviderObjects.DecisionOrderUpdateProperty:
      type: object
      properties:
        propertyId:
          type: integer
          format: int32
        fipsCode:
          type:
          - string
          - 'null'
        parcelNumbers:
          type:
          - array
          - 'null'
          items:
            type: string
        address:
          $ref: '#/components/schemas/Titlefy.ExternalServices.Insurful.ProviderObjects.Address'
        propertyTypeId:
          $ref: '#/components/schemas/Titlefy.Core.Constants.DecisionPropertyType'
      additionalProperties: false
    Titlefy.Data.Entities.DTOs.Insurful.DecisionConsumerName:
      type: object
      properties:
        firstName:
          type:
          - string
          - 'null'
        middleName:
          type:
          - string
          - 'null'
        lastName:
          type:
          - string
          - 'null'
        suffix:
          type:
          - string
          - 'null'
        unparsedName:
          type:
          - string
          - 'null'
        sourceCodes:
          type:
          - array
          - 'null'
          items:
            type: string
        fullName:
          type:
          - string
          - 'null'
          readOnly: true
      additionalProperties: false
    Titlefy.Data.Entities.DTOs.GradesheetResult:
      type: object
      properties:
        overallResult:
          $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionOverallResult'
        results:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.GradesheetResultItem'
      additionalProperties: false
    Titlefy.Data.Entities.Orders.FldCurativeItem:
      type: object
      properties:
        curativeName:
          type:
          - string
          - 'null'
        grade:
          $ref: '#/components/schemas/Titlefy.Core.Constants.Orders.OrderCurativeGrade'
      additionalProperties: false
    Titlefy.Data.Entities.Orders.Loan:
      type: object
      properties:
        lenderName:
          type:
          - string
          - 'null'
        loanNumber:
          type:
          - string
          - 'null'
        loanNumberHash:
          type:
          - string
          - 'null'
          format: byte
        loanAmount:
          type: number
          format: double
        loanType:
          $ref: '#/components/schemas/Titlefy.Core.Constants.Orders.LoanType'
        loanTypeDescription:
          type:
          - string
          - 'null'
        lienPosition:
          type: integer
          format: int32
        loanApplicationDate:
          type:
          - string
          - 'null'
          format: date-time
        loanApprovalDate:
          type:
          - string
          - 'null'
          format: date-time
        rate:
          type: number
          format: double
        term:
          type: integer
          format: int32
        termType:
          $ref: '#/components/schemas/Titlefy.Core.Constants.Orders.TermType'
        unpaidPrincipalBalance:
          type: number
          format: double
        originalLoanAmount:
          type: number
          format: double
        cashOutAmount:
          type: number
          format: double
        contactEmail:
          type:
          - string
          - 'null'
        contactFirstName:
          type:
          - string
          - 'null'
        contactLastName:
          type:
          - string
          - 'null'
        company:
          $ref: '#/components/schemas/Titlefy.Data.Entities.Orders.LoanCompany'
      additionalProperties: false
    Titlefy.Data.Entities.DTOs.Insurful.DecisionConsumerAddress:
      type: object
      properties:
        address1:
          type:
          - string
          - 'null'
        address2:
          type:
          - string
          - 'null'
        city:
          type:
          - string
          - 'null'
        state:
          type:
          - string
          - 'null'
        zipCode:
          type:
          - string
          - 'null'
        fullAddress:
          type:
          - string
          - 'null'
          readOnly: true
        streetAddress:
          type:
          - string
          - 'null'
          readOnly: true
        sourceCodes:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
    Titlefy.ExternalServices.Insurful.ProviderObjects.DownloadTrailingDocumentRequest:
      type: object
      properties:
        document:
          $ref: '#/components/schemas/Titlefy.Data.Entities.Orders.OrderTrailingDocument'
        orderId:
          type: integer
          format: int32
      additionalProperties: false
    Flueid.Pro.Constants.OrderConstants.OrderSubType:
      enum:
      - 0
      - 100
      - 101
      - 102
      - 104
      - 105
      - 106
      - 107
      - 200
      - 201
      - 202
      - 203
      - 205
      - 206
      - 207
      - 300
      - 400
      - 401
      - 402
      - 403
      - 404
      - 407
      - 408
      - 409
      - 410
      - 411
      - 412
      - 413
      - 500
      - 501
      - 502
      - 503
      - 504
      - 505
      - 506
      - 507
      - 508
      - 509
      - 510
      - 600
      - 700
      - 800
      type: integer
      format: int32
    Titlefy.Data.Entities.DTOs.Insurful.DecisionPropertyAnalysisItem:
      type: object
      properties:
        id:
          type: integer
          format: int32
        publicRecordTransaction:
          $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionHistoryTransaction'
        release:
          $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionHistoryTransaction'
        assignments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionHistoryTransaction'
        creditAccount:
          $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionCreditTrade'
        mersRecord:
          $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionMersInquiry'
        involuntaryLien:
          $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionInvoluntaryLien'
        mechanicalLien:
          $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionMechanicalLien'
        lexisUccFiling:
          $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionLexisUccFiling'
        mlsRecord:
          $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionMlsRecord'
        relatedPropertyId:
          type: integer
          format: int32
        verifiedFirstLienPosition:
          type: boolean
      additionalProperties: false
    Titlefy.Data.Entities.Orders.DeedOfTrustDetails:
      type: object
      properties:
        instrumentDate:
          type:
          - string
          - 'null'
          format: date-time
        recordedDate:
          type:
          - string
          - 'null'
          format: date-time
        dotAmount:
          type:
          - number
          - 'null'
          format: double
        recordingCounty:
          type:
          - string
          - 'null'
        book:
          type:
          - string
          - 'null'
        page:
          type:
          - string
          - 'null'
        instrumentNumber:
          type:
          - string
          - 'null'
        considerationAmount:
          type:
          - number
          - 'null'
          format: double
      additionalProperties: false
    Titlefy.Data.Entities.DTOs.Insurful.DecisionPropertyValuation:
      type: object
      properties:
        estimatedValue:
          type: integer
          format: int32
        valueRangeMin:
          type: integer
          format: int32
        valueRangeMax:
          type: integer
          format: int32
        confidenceScore:
          type: integer
          format: int32
        standardDeviation:
          type: integer
          format: int32
        valuationDate:
          type:
          - string
          - 'null'
          format: date-time
        estimatedLtvCombined:
          type: number
          format: double
        purchaseLtv:
          type: number
          format: double
        estimatedEquity:
          type: integer
          format: int32
      additionalProperties: false
    Titlefy.Data.Entities.Orders.HomeOwnersAssociationInfo:
      type: object
      properties:
        serviceProviderType:
          $ref: '#/components/schemas/Titlefy.Core.Constants.Orders.OrderServiceProviderType'
        orderingParty:
          $ref: '#/components/schemas/Titlefy.Core.Constants.Orders.OrderingParty'
        orderingPartyDescription:
          type:
          - string
          - 'null'
        companyName:
          type:
          - string
          - 'null'
        phone:
          type:
          - string
          - 'null'
        email:
          type:
          - string
          - 'null'
        contactFirstName:
          type:
          - string
          - 'null'
        contactLastName:
          type:
          - string
          - 'null'
        address:
          $ref: '#/components/schemas/Titlefy.Data.Entities.Address'
        hoaName:
          type:
          - string
          - 'null'
        dues:
          type: number
          format: double
        paymentFrequency:
          $ref: '#/components/schemas/Titlefy.Core.Constants.Orders.PaymentFrequency'
      additionalProperties: false
    Titlefy.Data.Entities.DTOs.Insurful.DecisionOverallResult:
      enum:
      - 0
      - 1
      - 2
      - 10
      - 11
      - 12
      - 20
      - 21
      - 22
      - 30
      - 31
      - 32
      - 33
      - 34
      - 40
      - 41
      type: integer
      format: int32
    Titlefy.Data.Entities.DTOs.Insurful.DecisionForeclosureItem:
      type: object
      properties:
        documentType:
          $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionDocumentType'
        subDocType:
          type:
          - string
          - 'null'
        docTypeDescription:
          type:
          - string
          - 'null'
        amount:
          type: number
          format: double
        balance:
          type:
          - number
          - 'null'
          format: double
        recordingDate:
          type:
          - string
          - 'null'
          format: date-time
        documentNumber:
          type:
          - string
          - 'null'
        borrowers:
          type:
          - string
          - 'null'
        lender:
          type:
          - string
          - 'null'
      additionalProperties: false
    Titlefy.Data.Entities.DTOs.Insurful.DecisionLienHitType:
      enum:
      - 0
      - 1
      - 2
      type: integer
      format: int32
    Titlefy.Data.Entities.DTOs.Insurful.DecisionInvoluntaryLien:
      type: object
      properties:
        id:
          type: integer
          format: int32
        propertyId:
          type: integer
          format: int32
        fipsCode:
          type:
          - string
          - 'null'
        county:
          type:
          - string
          - 'null'
        propertyAddress:
          $ref: '#/components/schemas/Titlefy.Data.Entities.Address'
        consumerAddress:
          $ref: '#/components/schemas/Titlefy.Data.Entities.Address'
        recordingDate:
          type:
          - string
          - 'null'
          format: date-time
        documentNumber:
          type:
          - string
          - 'null'
        caseNumber:
          type:
          - string
          - 'null'
        documentType:
          type:
          - string
          - 'null'
        docTypeDescription:
          type:
          - string
          - 'null'
        deedCategory:
          type:
          - string
          - 'null'
        originalDocumentNumber:
          type:
          - string
          - 'null'
        originalRecordingDate:
          type:
          - string
          - 'null'
          format: date-time
        lienAmount:
          type: number
          format: double
        debtor:
          type:
          - string
          - 'null'
        creditor:
          type:
          - string
          - 'null'
        addToSearchPackage:
          type: boolean
        analysisAttributes:
          $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionLienAnalysisAttributes'
        reportVisibility:
          $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionReportVisibility'
      additionalProperties: false
    Titlefy.Data.Entities.Orders.DefaultDetails:
      type: object
      properties:
        mersRegistrationNumber:
          type:
          - string
          - 'null'
        customerReferenceNumber:
          type:
          - string
          - 'null'
        trustorGrantor:
          type:
          - string
          - 'null'
        trustee:
          type:
          - string
          - 'null'
        beneficiaryGrantee:
          type:
          - string
          - 'null'
        legalDescription:
          type:
          - string
          - 'null'
        parcelNumber:
          type:
          - string
          - 'null'
        servicerName:
          type:
          - string
          - 'null'
        servicerCode:
          type:
          - string
          - 'null'
        deedOfTrustDetails:
          $ref: '#/components/schemas/Titlefy.Data.Entities.Orders.DeedOfTrustDetails'
      additionalProperties: false
    Titlefy.Data.Entities.Orders.OrderDetails:
      type: object
      properties:
        estimatedCloseDate:
          type:
          - string
          - 'null'
          format: date-time
        customerReference:
          type:
          - string
          - 'null'
        contractAcceptanceDate:
          type:
          - string
          - 'null'
          format: date-time
        contractExpirationDate:
          type:
          - string
          - 'null'
          format: date-time
        salePrice:
          type: integer
          format: int32
        contingencyRemovalDate:
          type:
          - string
          - 'null'
          format: date-time
        inspectionPeriodEndDate:
          type:
          - string
          - 'null'
          format: date-time
        buyerSignUpDate:
          type:
          - string
          - 'null'
          format: date-time
        buyerWalkthroughDate:
          type:
          - string
          - 'null'
          format: date-time
        escrowReference:
          type:
          - string
          - 'null'
        defaultDetails:
          $ref: '#/components/schemas/Titlefy.Data.Entities.Orders.DefaultDetails'
      additionalProperties: false
    Titlefy.Data.Entities.DTOs.Insurful.DecisionOrderResultPreview:
      type: object
      properties:
        transactionType:
          $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionTransactionType'
        transactionTypeDescription:
          type:
          - string
          - 'null'
          readOnly: true
        result:
          $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionOverallResult'
        resultDescription:
          type:
          - string
          - 'null'
          readOnly: true
      additionalProperties: false
    Titlefy.Data.Entities.DTOs.Insurful.DecisionPublicOnlineSource:
      type: object
      properties:
        searchSite:
          type:
          - string
          - 'null'
        coverageExists:
          type: boolean
        docSearchStartDate:
          type:
          - string
          - 'null'
          format: date-time
        subscriptionSite:
          type: boolean
        docImageSearchStartDate:
          type:
          - string
          - 'null'
          format: date-time
        docImageSearchEndDate:
          type:
          - string
          - 'null'
          format: date-time
      additionalProperties: false
    Titlefy.Data.Entities.DTOs.Insurful.DecisionTrackedConsumerInfoItem:
      type: object
      properties:
        consumerId:
          type: integer
          format: int32
        category:
          $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionTrackedInfoCategory'
        categoryDescription:
          type:
          - string
          - 'null'
          readOnly: true
        itemCode:
          type:
          - string
          - 'null'
        itemDescription:
          type:
          - string
          - 'null'
        actionOrResult:
          type:
          - string
          - 'null'
        reportVisibility:
          $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionReportVisibility'
      additionalProperties: false
    Titlefy.ExternalServices.Insurful.ProviderObjects.ConsumerName:
      type: object
      properties:
        firstName:
          type:
          - string
          - 'null'
        middleName:
          type:
          - string
          - 'null'
        lastName:
          type:
          - string
          - 'null'
        suffix:
          type:
          - string
          - 'null'
        unparsedName:
          type:
          - string
          - 'null'
        sourceCodes:
          type:
          - array
          - 'null'
          items:
            type: string
        fullName:
          type:
          - string
          - 'null'
      additionalProperties: false
    Titlefy.Models.Orders.OrderDetailLinkedSection:
      type: object
      properties:
        section:
          type:
          - string
          - 'null'
        sectionCaption:
          type:
          - string
          - 'null'
        requiredFields:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
    Titlefy.Data.Entities.DTOs.Insurful.DecisionAvailableSourcesResults:
      type: object
      properties:
        plantSources:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionPlantSource'
        publicOnlineSource:
          $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionPublicOnlineSource'
        secretaryOfState:
          $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionSecretaryOfStateUccSearch'
        countyTreasurer:
          $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionCountyTreasurerSearch'
      additionalProperties: false
    Titlefy.Data.Entities.DTOs.Insurful.DecisionOrderProduct:
      type: object
      properties:
        productType:
          $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionProductType'
        productTypeDescription:
          type:
          - string
          - 'null'
          readOnly: true
        initialProduct:
          type: boolean
        addedDate:
          type: string
          format: date-time
        autoAdded:
          type: boolean
        previewProduct:
          type: boolean
        previewDescription:
          type:
          - string
          - 'null'
        productStatus:
          $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionOrderStatus'
      additionalProperties: false
    Titlefy.Data.Entities.DTOs.Insurful.DecisionPlantSource:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
        coverageExists:
          type: boolean
        imageCoverageExists:
          type: boolean
        ggIndexDate:
          type:
          - string
          - 'null'
          format: date-time
        geographicIndexDate:
          type:
          - string
          - 'null'
          format: date-time
        docImageStartDate:
          type:
          - string
          - 'null'
          format: date-time
        docImageEndDate:
          type:
          - string
          - 'null'
          format: date-time
        providerName:
          type:
          - string
          - 'null'
      additionalProperties: false
    Flueid.PropertyDb.Models.PropertyData.ForeclosureAdditionalInfo:
      type: object
      properties:
        caseNumber:
          type:
          - string
          - 'null'
        dueDate:
          type:
          - string
          - 'null'
          format: date-time
        defaultDate:
          type:
          - string
          - 'null'
          format: date-time
        unpaidBalance:
          type: integer
          format: int32
        pastDueAmount:
          type: integer
          format: int32
        pastDueAsOfDate:
          type:
          - string
          - 'null'
          format: date-time
        auctionInfo:
          $ref: '#/components/schemas/Flueid.PropertyDb.Models.PropertyData.PropertyPreForeclosureAuction'
        trustee:
          $ref: '#/components/schemas/Flueid.PropertyDb.Models.PropertyData.PropertyPreForeclosureContact'
        contact:
          $ref: '#/components/schemas/Flueid.PropertyDb.Models.PropertyData.PropertyPreForeclosureContact'
      additionalProperties: false
    Titlefy.Data.Entities.DTOs.InsurfulDocPackageStatus:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      type: integer
      format: int32
    Titlefy.Data.Entities.Orders.InsuranceInfo:
      type: object
      properties:
        serviceProviderType:
          $ref: '#/components/schemas/Titlefy.Core.Constants.Orders.OrderServiceProviderType'
        orderingParty:
          $ref: '#/components/schemas/Titlefy.Core.Constants.Orders.OrderingParty'
        orderingPartyDescription:
          type:
          - string
          - 'null'
        companyName:
          type:
          - string
          - 'null'
        phone:
          type:
          - string
          - 'null'
        email:
          type:
          - string
          - 'null'
        contactFirstName:
          type:
          - string
          - 'null'
        contactLastName:
          type:
          - string
          - 'null'
        address:
          $ref: '#/components/schemas/Titlefy.Data.Entities.Address'
        policyNumber:
          type:
          - string
          - 'null'
      additionalProperties: false
    Titlefy.Data.Entities.DTOs.Insurful.DecisionConsumerType:
      enum:
      - 0
      - 1
      - 2
      - 3
      type: integer
      format: int32
    Titlefy.Data.Entities.DTOs.Insurful.DecisionMlsRecord:
      type: object
      properties:
        listingId:
          type:
          - string
          - 'null'
        listingDate:
          type:
          - string
          - 'null'
          format: date-time
        listingPrice:
          type:
          - number
          - 'null'
          format: double
        pendingDate:
          type:
          - string
          - 'null'
          format: date-time
        pendingPrice:
          type:
          - number
          - 'null'
          format: double
        soldDate:
          type:
          - string
          - 'null'
          format: date-time
        soldPrice:
          type:
          - number
          - 'null'
          format: double
        ownerName:
          type:
          - string
          - 'null'
        agentName:
          type:
          - string
          - 'null'
        agentCompanyName:
          type:
          - string
          - 'null'
        agentLicenseNumber:
          type:
          - string
          - 'null'
        status:
          type:
          - string
          - 'null'
        addToSearchPackage:
          type: boolean
        relatedToFvd:
          type: boolean
      additionalProperties: false
    Titlefy.Data.Entities.DTOs.Insurful.DecisionOrderDocument:
      type: object
      properties:
        documentName:
          type:
          - string
          - 'null'
        documentType:
          $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionDocumentType'
        documentTypeDescription:
          type:
          - string
          - 'null'
        status:
          $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionDocumentStatus'
        statusDescription:
          type:
          - string
          - 'null'
          readOnly: true
        documentNumber:
          type:
          - string
          - 'null'
        book:
          type:
          - string
          - 'null'
        page:
          type:
          - string
          - 'null'
        recordingDate:
          type:
          - string
          - 'null'
          format: date-time
        countyFips:
          type:
          - string
          - 'null'
        documentContentBase64:
          type:
          - string
          - 'null'
        providerStatus:
          type:
          - array
          - 'null'
          items:
            type: object
            additionalProperties:
              type: string
        providerId:
          type:
          - string
          - 'null'
        providerRequestId:
          type:
          - string
          - 'null'
        requestCreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        requestCompletedDate:
          type:
          - string
          - 'null'
          format: date-time
      additionalProperties: false
    Titlefy.Models.Orders.GetDocumentRequest:
      type: object
      properties:
        orderId:
          type: integer
          format: int32
        orderNumber:
          type:
          - string
          - 'null'
        documentId:
          type:
          - string
          - 'null'
        sourceProviderId:
          type: integer
          format: int32
        documentTypeDescription:
          type:
          - string
          - 'null'
        documentTypeId:
          type: integer
          format: int32
      additionalProperties: false
    Titlefy.Data.Entities.DTOs.Insurful.DecisionLexisUccFiling:
      type: object
      properties:
        lexisTransactionId:
          type:
          - string
          - 'null'
        debtors:
          type:
          - array
          - 'null'
          items:
            type: string
        securedParties:
          type:
          - array
          - 'null'
          items:
            type: string
        creditors:
          type:
          - array
          - 'null'
          items:
            type: string
        collateral:
          type:
          - array
          - 'null'
          items:
            type: string
        filingNumber:
          type:
          - string
          - 'null'
        filingType:
          type:
          - string
          - 'null'
        filingStatus:
          type:
          - string
          - 'null'
        originalFilingDate:
          type:
          - string
          - 'null'
          format: date-time
        latestFilingDate:
          type:
          - string
          - 'null'
          format: date-time
        latestFilingType:
          type:
          - string
          - 'null'
        latestFilingNumber:
          type:
          - string
          - 'null'
        expirationDate:
          type:
          - string
          - 'null'
          format: date-time
        amount:
          type:
          - number
          - 'null'
          format: double
        lienAddress:
          $ref: '#/components/schemas/Titlefy.Data.Entities.Address'
        addToSearchPackage:
          type: boolean
        ignoredDueToFilter:
          type: boolean
        filterMatches:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionUccFilingFilterMatch'
        matchesBlacklist:
          type: boolean
          readOnly: true
        matchesWhitelist:
          type: boolean
          readOnly: true
      additionalProperties: false
    Flueid.PropertyDb.Models.PropertyData.PropertyRelatedDocument:
      type: object
      properties:
        transactionId:
          type: integer
          format: int64
        recordingDate:
          type:
          - string
          - 'null'
          format: date-time
        contractDate:
          type:
          - string
          - 'null'
          format: date-time
        documentNumber:
          type:
          - string
          - 'null'
        book:
          type:
          - string
          - 'null'
        page:
          type:
          - string
          - 'null'
        lender:
          type:
          - string
          - 'null'
        loanAmount:
          type: integer
          format: int32
      additionalProperties: false
    Titlefy.Data.Entities.DTOs.Insurful.DecisionConsumerInfoItemCategory:
      enum:
      - 1
      - 2
      - 3
      - 4
      - 5
      type: integer
      format: int32
    Titlefy.Data.Entities.DTOs.Insurful.DecisionCreditAccountType:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      type: integer
      format: int32
    Titlefy.Data.Entities.DTOs.Insurful.DecisionDocumentStatus:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      type: integer
      format: int32
    Flueid.PropertyDb.Models.PropertyData.PropertyAssessment:
      type: object
      properties:
        assessedValue:
          type: integer
          format: int32
        landValue:
          type: integer
          format: int32
        improvementValue:
          type: integer
          format: int32
        improvementPct:
          type: number
          format: double
        assessedYear:
          type: integer
          format: int32
        marketValue:
          type: integer
          format: int32
        marketLandValue:
          type: integer
          format: int32
        marketImprovementValue:
          type: integer
          format: int32
        marketValueYear:
          type:
          - integer
          - 'null'
          format: int32
        county:
          type:
          - string
          - 'null'
      additionalProperties: false
    Flueid.PropertyDb.Models.PropertyData.PropertyCharacteristics:
      type: object
      properties:
        propertyType:
          $ref: '#/components/schemas/Flueid.PropertyDb.Models.Constants.PropertyType'
        propertyTypeDescription:
          type:
          - string
          - 'null'
        yearBuilt:
          type: integer
          format: int32
        bedrooms:
          type: integer
          format: int32
        bathroomsTotal:
          type: number
          format: double
        bathroomsFull:
          type: integer
          format: int32
        bathroomsPartial:
          type: integer
          format: int32
        livingSqFt:
          type: integer
          format: int32
        basement:
          type:
          - string
          - 'null'
        lotSqFt:
          type: integer
          format: int32
        lotAcres:
          type: number
          format: double
        lotDepth:
          type: integer
          format: int32
        lotFrontage:
          type: integer
          format: int32
        stories:
          type: number
          format: double
        storiesDescription:
          type:
          - string
          - 'null'
        hasBasement:
          type: boolean
        hasAttic:
          type: boolean
        isSplitLevel:
          type: boolean
        roomsTotal:
          type: integer
          format: int32
        parking:
          type:
          - string
          - 'null'
        parkingType:
          type:
          - string
          - 'null'
        hasPool:
          type: boolean
        pool:
          type:
          - string
          - 'null'
        fireplace:
          type:
          - string
          - 'null'
        unitsTotal:
          type: integer
          format: int32
        airConditioning:
          type:
          - string
          - 'null'
        siteInfluence:
          type:
          - string
          - 'null'
        amenities:
          type:
          - array
          - 'null'
          items:
            type: string
        numberOfBuildings:
          type: integer
          format: int32
        buildingAreas:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Flueid.PropertyDb.Models.PropertyData.BuildingArea'
        buildingClass:
          type:
          - string
          - 'null'
        buildingCondition:
          type:
          - string
          - 'null'
        buildingQuality:
          type:
          - string
          - 'null'
        buildingComments:
          type:
          - string
          - 'null'
        elevator:
          type:
          - string
          - 'null'
        interiorWalls:
          type:
          - string
          - 'null'
        exteriorWalls:
          type:
          - string
          - 'null'
        extraFeatures:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Flueid.PropertyDb.Models.PropertyData.ExtraFeature'
        floorCovering:
          type:
          - string
          - 'null'
        foundation:
          type:
          - string
          - 'null'
        heating:
          type:
          - string
          - 'null'
        heatingFuelType:
          type:
          - string
          - 'null'
        additionalImprovements:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Flueid.PropertyDb.Models.PropertyData.AdditionalImprovement'
        featuredRooms:
          type:
          - array
          - 'null'
          items:
            type: string
        numberOfPlumbingFixtures:
          type: integer
          format: int32
        roofCover:
          type:
          - string
          - 'null'
        roofType:
          type:
          - string
          - 'null'
        sewer:
          type:
          - string
          - 'null'
        water:
          type:
          - string
          - 'null'
        propertyStyle:
          type:
          - string
          - 'null'
        constructionType:
          type:
          - string
          - 'null'
      additionalProperties: false
    Titlefy.Data.Entities.DTOs.Insurful.DecisionOtherOwnedProp:
      type: object
      properties:
        propertyId:
          type: integer
          format: int32
        address:
          $ref: '#/components/schemas/Titlefy.Data.Entities.Address'
        marketStatus:
          type:
          - string
          - 'null'
        marketStatusDate:
          type:
          - string
          - 'null'
          format: date-time
        marketStatusDateText:
          type:
          - string
          - 'null'
        ownedSinceDate:
          type:
          - string
          - 'null'
          format: date-time
      additionalProperties: false
    Titlefy.Data.Entities.DTOs.TcrResult:
      type: object
      properties:
        orderId:
          type: integer
          format: int32
        clientId:
          type: integer
          format: int32
        clientOrderReference:
          type:
          - string
          - 'null'
        transactionType:
          $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionTransactionType'
        productType:
          $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionProductType'
        status:
          $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionOrderStatus'
        verifiedRecordingInfo:
          $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionVerifiedRecordingInfo'
        gradesheetResult:
          $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.GradesheetResult'
        documents:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionOrderDocument'
        canDownloadReport:
          type: boolean
      additionalProperties: false
    Titlefy.Data.Entities.DTOs.Insurful.DecisionTransactionType:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 9
      type: integer
      format: int32
    Titlefy.Data.Entities.DTOs.Insurful.DecisionConsumerInvoluntaryLien:
      type: object
      properties:
        consumerId:
          type: integer
          format: int32
        lien:
          $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionInvoluntaryLien'
      additionalProperties: false
    Titlefy.Data.Entities.DTOs.OrderServiceLite:
      type: object
      properties:
        serviceTypeDescription:
          type:
          - string
          - 'null'
        serviceType:
          $ref: '#/components/schemas/Flueid.Pro.Constants.OrderConstants.OrderServiceType'
        orderNumber:
          type:
          - string
          - 'null'
        orderExpiration:
          type:
          - string
          - 'null'
          format: date-time
        orderStatus:
          type:
          - integer
          - 'null'
          format: int32
      additionalProperties: false
    Titlefy.Data.Entities.DTOs.Insurful.DecisionProcessingResult:
      type: object
      properties:
        succeeded:
          type: boolean
        orderId:
          type: integer
          format: int32
        clientOrderReference:
          type:
          - string
          - 'null'
        orderStatusId:
          $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionOrderStatus'
        orderStatusDescription:
          type:
          - string
          - 'null'
          readOnly: true
        effectiveDate:
          type: string
          format: date-time
        orderType:
          type:
          - string
          - 'null'
        latestCountyRecordingDate:
          type:
          - string
          - 'null'
          format: date-time
        rulesetResults:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionOrderRulesetResult'
        errors:
          type:
          - array
          - 'null'
          items:
            type: string
        products:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionOrderProduct'
        decisionExpiryDate:
          type:
          - string
          - 'null'
          format: date-time
        fullValueDeedDate:
          type:
          - string
          - 'null'
          format: date-time
        pointOfInsuranceDate:
          type:
          - string
          - 'null'
          format: date-time
        docPackageStatus:
          $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionDocPackageStatus'
        docPackageStatusDescription:
          type:
          - string
          - 'null'
          readOnly: true
        submittedOrderInfo:
          $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionSubmittedOrderAttributes'
        propertyInfo:
          $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionPropertyDetailAttributes'
        verifiedRecordingInfo:
          $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionVerifiedRecordingInfo'
        consumersFinal:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionConsumerAttributeContainer'
        consumerInvoluntaryLiens:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionConsumerInvoluntaryLien'
        consumerMechanicalLiens:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionConsumerMechanicalLien'
        openMortgages:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionPropertyAnalysisItem'
        closedMortgages:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionPropertyAnalysisItem'
        openMortgagesOtherProperties:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionPropertyAnalysisItem'
        deedHistory:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionDeedHistoryItem'
        lastMarketSale:
          $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionLastMarketSale'
        lastMlsEvent:
          $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionMlsEvent'
        foreclosureActivity:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionForeclosureItem'
        taxInfo:
          $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionTaxInfo'
        otherOwnedProps:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionOtherOwnedProp'
        remoteOnlineNotarizationAllowed:
          type: boolean
        availableSources:
          $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionAvailableSourcesResults'
        propertyDetail:
          $ref: '#/components/schemas/Flueid.PropertyDb.Models.PropertyData.PropertyDetail'
      additionalProperties: false
    Titlefy.Data.Entities.DTOs.Insurful.DecisionLienAnalysisAttributes:
      type: object
      properties:
        docNumMatchesReleaseOrigNum_20F1:
          type: boolean
        recordingDateMatchesReleaseExactly_20F2:
          type: boolean
        recordingDateMatchesReleaseWithin45Days_20F3:
          type: boolean
        recordingDateMatchesReleaseYear_20F4:
          type: boolean
        recordingDateMatchesReleaseMonthDay_20F5:
          type: boolean
        nameMatchesReleaseName_20F6:
          type: boolean
        matchOnSsn:
          type: boolean
        matchOnPiqAddress:
          type: boolean
        matchOnConsumerAddress:
          type: boolean
        exceedsStatuteOfLimitations:
          type: boolean
        released:
          type: boolean
        matchedReleaseDocumentNumber:
          type:
          - string
          - 'null'
        matchedToOrigDoc:
          type: boolean
        matchedAssociatedDocumentNumber:
          type:
          - string
          - 'null'
        lienCategory:
          $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionLienCategory'
        hitType:
          $ref: '#/components/schemas/Titlefy.Data.Entities.DTOs.Insurful.DecisionLienHitType'
        directHitCritical:
          type: boolean
        directHitNotable:
          type: boolean
      additionalProperties: false
    Titlefy.Core.Constants.DocumentImageStatus:
      enum:
      - 1
      - 2
      - 3
      - 4
      - 5
      type: integer
      format: int32
    Flueid.PropertyDb.Models.PropertyData.PropertyValuation:
      type: object
      properties:
        estimatedValue:
          type: integer
          format: int32
        valueRangeMin:
          type: integer
          format: int32
        valueRangeMax:
          type: integer
          format: int32
        confidenceScore:
          type: integer
          format: int32
        standardDeviation:
          type: integer
          format: int32
        valuationDate:
          type:
          - string
          - 'null'
          format: date-time
        estimatedLtvCombined:
          type: number
          format: double
        purchaseLtv:
          type: number
          format: double
      additionalProperties: false
    Titlefy.Data.Entities.DTOs.Insurful.ReportIndicatorStyle:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      type: integer
      format: int32
    Flueid.PropertyDb.Models.PropertyData.PropertyPreForeclosure:
      type: object
      properties:
        currentForeclosureStatus:
          type:
          - string
          - 'null'
        recordingDate:
          type:
          - string
          - 'null'
          format: date-time
        documentNumber:
          type:
          - string
          - 'null'
        docProviderRef:
          type:
          - string
          - 'null'
        book:
          type:
          - string
          - 'null'
        page:
[...]
