openapi: 3.2.0
info:
  title: Flueid Pro Partner Order Settings API
  version: '1.0'
servers:
- url: https://api.pro.flueid.com
  description: Flueid Pro production API
tags:
- name: PartnerOrderSettings
paths:
  /api/PartnerOrderSettings/PartnerOrderSettings:
    get:
      tags:
      - PartnerOrderSettings
      summary: Gets partner order settings for a Partner.
      parameters:
      - name: partnerId
        in: query
        description: ''
        schema:
          type: integer
          format: int32
      - name: api-version
        in: query
        description: The requested API version
        schema:
          type: string
          default: '1.0'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Flueid.Pro.Contracts.Responses.PartnerOrderSettingsResponses.PartnerOrderSettingsResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Flueid.Pro.Contracts.Responses.PartnerOrderSettingsResponses.PartnerOrderSettingsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Flueid.Pro.Contracts.Responses.PartnerOrderSettingsResponses.PartnerOrderSettingsResponse'
  /api/PartnerOrderSettings/SetPartnerOrderSettings:
    post:
      tags:
      - PartnerOrderSettings
      summary: Sets Partner Order Settings for a Partner.
      parameters:
      - name: api-version
        in: query
        description: The requested API version
        schema:
          type: string
          default: '1.0'
      requestBody:
        description: ''
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Flueid.Pro.Contracts.Requests.PartnerOrderSettingsRequests.UpdatePartnerOrderSettingsRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Flueid.Pro.Contracts.Requests.PartnerOrderSettingsRequests.UpdatePartnerOrderSettingsRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Flueid.Pro.Contracts.Requests.PartnerOrderSettingsRequests.UpdatePartnerOrderSettingsRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Flueid.Pro.Contracts.Requests.PartnerOrderSettingsRequests.UpdatePartnerOrderSettingsRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Flueid.Pro.Contracts.Responses.PartnerOrderSettingsResponses.TxmSettingsResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Flueid.Pro.Contracts.Responses.PartnerOrderSettingsResponses.TxmSettingsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Flueid.Pro.Contracts.Responses.PartnerOrderSettingsResponses.TxmSettingsResponse'
  /api/PartnerOrderSettings/TxmSettings:
    get:
      tags:
      - PartnerOrderSettings
      summary: Gets TXM Settings for a Partner.
      parameters:
      - name: partnerId
        in: query
        description: ''
        schema:
          type: integer
          format: int32
      - name: api-version
        in: query
        description: The requested API version
        schema:
          type: string
          default: '1.0'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Flueid.Pro.Contracts.Responses.PartnerOrderSettingsResponses.TxmSettingsResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Flueid.Pro.Contracts.Responses.PartnerOrderSettingsResponses.TxmSettingsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Flueid.Pro.Contracts.Responses.PartnerOrderSettingsResponses.TxmSettingsResponse'
  /api/PartnerOrderSettings/SetTxmSettings:
    post:
      tags:
      - PartnerOrderSettings
      summary: Sets TXM Settings for a Partner.
      parameters:
      - name: api-version
        in: query
        description: The requested API version
        schema:
          type: string
          default: '1.0'
      requestBody:
        description: ''
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Flueid.Pro.Contracts.Requests.PartnerOrderSettingsRequests.UpdateTxmSettingsRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Flueid.Pro.Contracts.Requests.PartnerOrderSettingsRequests.UpdateTxmSettingsRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Flueid.Pro.Contracts.Requests.PartnerOrderSettingsRequests.UpdateTxmSettingsRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Flueid.Pro.Contracts.Requests.PartnerOrderSettingsRequests.UpdateTxmSettingsRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Flueid.Pro.Contracts.Responses.PartnerOrderSettingsResponses.TxmSettingsResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Flueid.Pro.Contracts.Responses.PartnerOrderSettingsResponses.TxmSettingsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Flueid.Pro.Contracts.Responses.PartnerOrderSettingsResponses.TxmSettingsResponse'
  /api/PartnerOrderSettings/DecisionSettings:
    get:
      tags:
      - PartnerOrderSettings
      summary: Gets TXM Settings for a Partner.
      parameters:
      - name: partnerId
        in: query
        description: ''
        schema:
          type: integer
          format: int32
      - name: api-version
        in: query
        description: The requested API version
        schema:
          type: string
          default: '1.0'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Flueid.Pro.Contracts.Responses.PartnerOrderSettingsResponses.DecisionSettingsResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Flueid.Pro.Contracts.Responses.PartnerOrderSettingsResponses.DecisionSettingsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Flueid.Pro.Contracts.Responses.PartnerOrderSettingsResponses.DecisionSettingsResponse'
  /api/PartnerOrderSettings/SetDecisionSettings:
    post:
      tags:
      - PartnerOrderSettings
      summary: Sets TXM Settings for a Partner.
      parameters:
      - name: api-version
        in: query
        description: The requested API version
        schema:
          type: string
          default: '1.0'
      requestBody:
        description: ''
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Flueid.Pro.Contracts.Requests.PartnerOrderSettingsRequests.UpdateDecisionSettingsRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Flueid.Pro.Contracts.Requests.PartnerOrderSettingsRequests.UpdateDecisionSettingsRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Flueid.Pro.Contracts.Requests.PartnerOrderSettingsRequests.UpdateDecisionSettingsRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Flueid.Pro.Contracts.Requests.PartnerOrderSettingsRequests.UpdateDecisionSettingsRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Flueid.Pro.Contracts.Responses.PartnerOrderSettingsResponses.DecisionSettingsResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Flueid.Pro.Contracts.Responses.PartnerOrderSettingsResponses.DecisionSettingsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Flueid.Pro.Contracts.Responses.PartnerOrderSettingsResponses.DecisionSettingsResponse'
  /api/PartnerOrderSettings/D4aSettings:
    get:
      tags:
      - PartnerOrderSettings
      summary: Gets D4A Settings for a Partner.
      parameters:
      - name: partnerId
        in: query
        description: ''
        schema:
          type: integer
          format: int32
      - name: api-version
        in: query
        description: The requested API version
        schema:
          type: string
          default: '1.0'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Flueid.Pro.Contracts.Responses.PartnerOrderSettingsResponses.D4aSettingsResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Flueid.Pro.Contracts.Responses.PartnerOrderSettingsResponses.D4aSettingsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Flueid.Pro.Contracts.Responses.PartnerOrderSettingsResponses.D4aSettingsResponse'
  /api/PartnerOrderSettings/SetD4aSettings:
    post:
      tags:
      - PartnerOrderSettings
      summary: Sets D4A Settings for a Partner.
      parameters:
      - name: api-version
        in: query
        description: The requested API version
        schema:
          type: string
          default: '1.0'
      requestBody:
        description: ''
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Flueid.Pro.Contracts.Requests.PartnerOrderSettingsRequests.UpdateD4aSettingsRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Flueid.Pro.Contracts.Requests.PartnerOrderSettingsRequests.UpdateD4aSettingsRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Flueid.Pro.Contracts.Requests.PartnerOrderSettingsRequests.UpdateD4aSettingsRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Flueid.Pro.Contracts.Requests.PartnerOrderSettingsRequests.UpdateD4aSettingsRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Flueid.Pro.Contracts.Responses.PartnerOrderSettingsResponses.D4aSettingsResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Flueid.Pro.Contracts.Responses.PartnerOrderSettingsResponses.D4aSettingsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Flueid.Pro.Contracts.Responses.PartnerOrderSettingsResponses.D4aSettingsResponse'
  /api/PartnerOrderSettings/HilSettings:
    get:
      tags:
      - PartnerOrderSettings
      summary: Gets TXM Settings for a Partner.
      parameters:
      - name: partnerId
        in: query
        description: ''
        schema:
          type: integer
          format: int32
      - name: api-version
        in: query
        description: The requested API version
        schema:
          type: string
          default: '1.0'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Flueid.Pro.Contracts.Responses.PartnerOrderSettingsResponses.HilSettingsResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Flueid.Pro.Contracts.Responses.PartnerOrderSettingsResponses.HilSettingsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Flueid.Pro.Contracts.Responses.PartnerOrderSettingsResponses.HilSettingsResponse'
  /api/PartnerOrderSettings/SetHilSettings:
    post:
      tags:
      - PartnerOrderSettings
      summary: Sets Hil Settings for a Partner.
      parameters:
      - name: api-version
        in: query
        description: The requested API version
        schema:
          type: string
          default: '1.0'
      requestBody:
        description: ''
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Flueid.Pro.Contracts.Requests.PartnerOrderSettingsRequests.UpdateHilSettingsRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Flueid.Pro.Contracts.Requests.PartnerOrderSettingsRequests.UpdateHilSettingsRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Flueid.Pro.Contracts.Requests.PartnerOrderSettingsRequests.UpdateHilSettingsRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Flueid.Pro.Contracts.Requests.PartnerOrderSettingsRequests.UpdateHilSettingsRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Flueid.Pro.Contracts.Responses.PartnerOrderSettingsResponses.HilSettingsResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Flueid.Pro.Contracts.Responses.PartnerOrderSettingsResponses.HilSettingsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Flueid.Pro.Contracts.Responses.PartnerOrderSettingsResponses.HilSettingsResponse'
components:
  schemas:
    Flueid.Pro.Constants.OrderConstants.OrderType:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      type: integer
      format: int32
    Flueid.Pro.Contracts.DTOs.PartnerOrderSettingsDTOs.TxmSettingsDTO:
      type: object
      properties:
        orderNumberFetchMode:
          $ref: '#/components/schemas/Flueid.Pro.Constants.PartnerOrderSettingsConstants.OrderNumberFetchMode'
        softProConnectionString:
          type:
          - string
          - 'null'
        softProNumberingGroupId:
          type:
          - string
          - 'null'
        orderNumServiceUrl:
          type:
          - string
          - 'null'
        orderNumServiceAuthUrl:
          type:
          - string
          - 'null'
        orderNumServiceUsername:
          type:
          - string
          - 'null'
        orderNumServicePassword:
          type:
          - string
          - 'null'
        url:
          type:
          - string
          - 'null'
        apiKey:
          type:
          - string
          - 'null'
        affiliateCode:
          type:
          - string
          - 'null'
        collaborationEmail:
          type:
          - string
          - 'null'
        orderAPIVersion:
          type:
          - string
          - 'null'
        splitPurchaseOrderType:
          type: boolean
        bypassTxm:
          type: boolean
      additionalProperties: false
    Flueid.Pro.Constants.PartnerOrderSettingsConstants.OrderProvider:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      type: integer
      format: int32
    Flueid.Pro.Contracts.Requests.PartnerOrderSettingsRequests.UpdateDecisionSettingsRequest:
      type: object
      properties:
        partnerId:
          type: integer
          format: int32
        decisionSettings:
          $ref: '#/components/schemas/Flueid.Pro.Contracts.DTOs.PartnerOrderSettingsDTOs.DecisionSettingsDTO'
      additionalProperties: false
    Flueid.Pro.Contracts.DTOs.PartnerOrderSettingsDTOs.D4aSettingsDTO:
      type: object
      properties:
        accountName:
          type:
          - string
          - 'null'
        imageProvider:
          $ref: '#/components/schemas/Flueid.Pro.Constants.PartnerOrderSettingsConstants.D4aImageProvider'
        retryDelay:
          type:
          - integer
          - 'null'
          format: int32
      additionalProperties: false
    Flueid.Pro.Constants.PartnerOrderSettingsConstants.OrderNumberFetchMode:
      enum:
      - 0
      - 1
      - 2
      - 3
      type: integer
      format: int32
    Flueid.Pro.Contracts.Requests.PartnerOrderSettingsRequests.UpdateHilSettingsRequest:
      type: object
      properties:
        partnerId:
          type: integer
          format: int32
        hilSettings:
          $ref: '#/components/schemas/Flueid.Pro.Contracts.DTOs.PartnerOrderSettingsDTOs.TxmSettingsDTO'
      additionalProperties: false
    Flueid.Pro.Constants.OrderConstants.OrderServiceType:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 9
      - 10
      - 11
      - 12
      type: integer
      format: int32
    Flueid.Pro.Contracts.DTOs.PartnerOrderSettingsDTOs.DecisionEnabledClientDTO:
      type: object
      properties:
        entityId:
          type: integer
          format: int32
        entityType:
          $ref: '#/components/schemas/Flueid.Pro.Constants.EntityConstants.EntityType'
        decisionClientIdOverride:
          type:
          - integer
          - 'null'
          format: int32
      additionalProperties: false
    Flueid.Pro.Constants.PartnerOrderSettingsConstants.D4aImageProvider:
      enum:
      - 0
      - 1
      - 2
      - 3
      type: integer
      format: int32
    Flueid.Pro.Contracts.Requests.PartnerOrderSettingsRequests.UpdatePartnerOrderSettingsRequest:
      type: object
      properties:
        partnerId:
          type: integer
          format: int32
        orderProvider:
          $ref: '#/components/schemas/Flueid.Pro.Constants.PartnerOrderSettingsConstants.OrderProvider'
        openOrderEmail:
          type:
          - string
          - 'null'
        preserveOwnerNameFromPropertyData:
          type: boolean
        omitPayoffData:
          type: boolean
        defaultPropertyType:
          type: integer
          format: int32
        useDefaultBeforeDb:
          type: boolean
      additionalProperties: false
    Flueid.Pro.Contracts.Requests.PartnerOrderSettingsRequests.UpdateD4aSettingsRequest:
      type: object
      properties:
        partnerId:
          type: integer
          format: int32
        d4aSettings:
          $ref: '#/components/schemas/Flueid.Pro.Contracts.DTOs.PartnerOrderSettingsDTOs.D4aSettingsDTO'
      additionalProperties: false
    Flueid.Pro.Contracts.Responses.PartnerOrderSettingsResponses.HilSettingsResponse:
      type: object
      properties:
        partnerId:
          type: integer
          format: int32
        hilSettings:
          $ref: '#/components/schemas/Flueid.Pro.Contracts.DTOs.PartnerOrderSettingsDTOs.TxmSettingsDTO'
      additionalProperties: false
    Flueid.Pro.Contracts.Responses.PartnerOrderSettingsResponses.D4aSettingsResponse:
      type: object
      properties:
        partnerId:
          type: integer
          format: int32
        d4aSettings:
          $ref: '#/components/schemas/Flueid.Pro.Contracts.DTOs.PartnerOrderSettingsDTOs.D4aSettingsDTO'
      additionalProperties: false
    Flueid.Pro.Contracts.Requests.PartnerOrderSettingsRequests.UpdateTxmSettingsRequest:
      type: object
      properties:
        partnerId:
          type: integer
          format: int32
        txmSettings:
          $ref: '#/components/schemas/Flueid.Pro.Contracts.DTOs.PartnerOrderSettingsDTOs.TxmSettingsDTO'
      additionalProperties: false
    Flueid.Pro.Constants.OrderConstants.OrderSubType:
      enum:
      - 0
      - 100
      - 101
      - 102
      - 104
      - 105
      - 106
      - 107
      - 200
      - 201
      - 202
      - 203
      - 205
      - 206
      - 207
      - 300
      - 400
      - 401
      - 402
      - 403
      - 404
      - 407
      - 408
      - 409
      - 410
      - 411
      - 412
      - 413
      - 500
      - 501
      - 502
      - 503
      - 504
      - 505
      - 506
      - 507
      - 508
      - 509
      - 510
      - 600
      - 700
      - 800
      type: integer
      format: int32
    Flueid.Pro.Contracts.Responses.PartnerOrderSettingsResponses.TxmSettingsResponse:
      type: object
      properties:
        partnerId:
          type: integer
          format: int32
        txmSettings:
          $ref: '#/components/schemas/Flueid.Pro.Contracts.DTOs.PartnerOrderSettingsDTOs.TxmSettingsDTO'
      additionalProperties: false
    Flueid.Pro.Constants.EntityConstants.EntityType:
      enum:
      - 10
      - 20
      - 30
      - 40
      - 50
      - 60
      - 9999
      type: integer
      format: int32
    Flueid.Pro.Contracts.Responses.PartnerOrderSettingsResponses.PartnerOrderSettingsResponse:
      type: object
      properties:
        partnerId:
          type: integer
          format: int32
        orderProvider:
          $ref: '#/components/schemas/Flueid.Pro.Constants.PartnerOrderSettingsConstants.OrderProvider'
        openOrderEmail:
          type:
          - string
          - 'null'
        preserveOwnerNameFromPropertyData:
          type: boolean
        omitPayoffData:
          type: boolean
        defaultPropertyType:
          type: integer
          format: int32
        useDefaultBeforeDb:
          type: boolean
      additionalProperties: false
    Flueid.Pro.Contracts.Responses.PartnerOrderSettingsResponses.DecisionSettingsResponse:
      type: object
      properties:
        partnerId:
          type: integer
          format: int32
        decisionSettings:
          $ref: '#/components/schemas/Flueid.Pro.Contracts.DTOs.PartnerOrderSettingsDTOs.DecisionSettingsDTO'
      additionalProperties: false
    Flueid.Pro.Contracts.DTOs.PartnerOrderSettingsDTOs.DecisionSettingsDTO:
      type: object
      properties:
        autoCreateDecisionOrder:
          type: boolean
        fetchDecisionOrder:
          type: boolean
        orderTypes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Flueid.Pro.Constants.OrderConstants.OrderType'
        apiUrl:
          type:
          - string
          - 'null'
        authUrl:
          type:
          - string
          - 'null'
        authClientId:
          type:
          - string
          - 'null'
        username:
          type:
          - string
          - 'null'
        password:
          type:
          - string
          - 'null'
        decisionClientId:
          type: integer
          format: int32
        decisionClientName:
          type:
          - string
          - 'null'
        rulesetId:
          type: integer
          format: int32
        enabledClients:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Flueid.Pro.Contracts.DTOs.PartnerOrderSettingsDTOs.DecisionEnabledClientDTO'
        excludeOrderSubTypes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Flueid.Pro.Constants.OrderConstants.OrderSubType'
        excludeFips:
          type:
          - array
          - 'null'
          items:
            type: string
        useSecureDownloadUrl:
          type: boolean
        enablePreTitle:
          type: boolean
        preTitleOrderTypes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Flueid.Pro.Constants.OrderConstants.OrderType'
        preTitleServiceTypes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Flueid.Pro.Constants.OrderConstants.OrderServiceType'
        enablePurchaseUpdate:
          type: boolean
      additionalProperties: false
