openapi: 3.2.0
info:
  title: Flueid Pro Order Events API
  version: '1.0'
servers:
- url: https://api.pro.flueid.com
  description: Flueid Pro production API
tags:
- name: OrderEvents
paths:
  /api/OrderEvents/OrderHistory:
    get:
      tags:
      - OrderEvents
      summary: ''
      parameters:
      - name: orderId
        in: query
        description: ''
        required: true
        schema:
          type: integer
          format: int32
      - name: api-version
        in: query
        description: The requested API version
        schema:
          type: string
          default: '1.0'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Titlefy.Models.Orders.OrderHistoryItem'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Titlefy.Models.Orders.OrderHistoryItem'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Titlefy.Models.Orders.OrderHistoryItem'
  /api/OrderEvents/PostDocument:
    post:
      tags:
      - OrderEvents
      summary: Accepts an event containing a document.
      parameters:
      - name: api-version
        in: query
        description: The requested API version
        schema:
          type: string
          default: '1.0'
      requestBody:
        description: ''
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Titlefy.Models.Orders.EventSubmission'
          application/json:
            schema:
              $ref: '#/components/schemas/Titlefy.Models.Orders.EventSubmission'
          text/json:
            schema:
              $ref: '#/components/schemas/Titlefy.Models.Orders.EventSubmission'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Titlefy.Models.Orders.EventSubmission'
        required: true
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
components:
  schemas:
    Titlefy.Models.Orders.OrderHistoryItem:
      type: object
      properties:
        eventType:
          type:
          - string
          - 'null'
        eventDescription:
          type:
          - string
          - 'null'
        eventTime:
          type: string
          format: date-time
      additionalProperties: false
    Titlefy.Models.Orders.EventSubmission:
      type: object
      properties:
        orderId:
          type: integer
          format: int32
        orderNumber:
          type:
          - string
          - 'null'
        statusEventTypeId:
          type: integer
          format: int32
        documentBase64:
          type:
          - string
          - 'null'
        eventDate:
          type:
          - string
          - 'null'
          format: date-time
        sourceIntegrationIdentifier:
          type:
          - integer
          - 'null'
          format: int32
      additionalProperties: false
